<div class="container">
  <% if @cart_items.present? %>
  <div class="row mt-5">
    <div class="col-md-4 text-left">
      <h3>ショッピングカート</h3>
    </div>
    <div class="col-md-4 offset-md-4">
      <%= link_to "カートを空にする", all_destroy_path, class: "btn btn-danger" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <!--<table class="table-bordered" >-->
        <table class="design01">
        <tr>
          <th></th>
          <th>商品名</th>
          <th>単価 (税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
  　　　</tr>
  　　　 <% @cart_items.each do |cart_item| %>
  　　　 <tr>
          <td><%= image_tag cart_item.item.get_image(80,80)%></td>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td>
            <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
              　<%= f.select :quantity , *[1..10] %>
              　<%= f.submit "変更",class: "btn btn-success" %>
            <% end %>
          </td>
          <td><%= cart_item.subtotal %></td>
          <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
       </tr>
        <% end %>
        
         <% else %>
      </table>
         <div>
           <h4>カートの中に商品がありません</h4>
         </div>
          <% end %>
          </div>
     </div>
       <div class="row mt-5">
              <div class="col-3 text-right">
                 <div class="total">
                   <table class="design01">
                    <tr>
                      <th><%="合計金額" %></th>
                    </tr>
                     <tr>
                      <td>
                        <h3>¥<%= @total.round.to_s(:delimited) %></h3>
                      </td>
                    </tr>
                  </table>
                 </div>
           </div>
         </div>
      </div>

  <div class="row mt-5 ml-5">
    <div class="col-md-4">
      <p><%= link_to "買い物を続ける", root_path, class: "btn btn-primary"%></p>
    </div>
    <div class="col-md-4 offset-md-4">
      <p><%= link_to "情報入力に進む", new_order_path, class: "btn btn-info" %></p>
    </div>
  </div>


